.login_container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(52.03deg, rgba(122,127,200,1) 0%, rgba(189,56,91,1) 100%);
}

.login_form{
 width: 40%;
 padding: 5%;
 /* background-color: black;
 color:white; */
}